python-more_data_structures/__pycache__/0-square_matrix_simple.cpython-312.pyc
python-more_data_structures/__pycache__/1-search_replace.cpython-312.pyc
python-more_data_structures/__pycache__/2-uniq_add.cpython-312.pyc
python-more_data_structures/__pycache__/3-common_elements.cpython-312.pyc
python-more_data_structures/__pycache__/4-only_diff_elements.cpython-312.pyc
python-more_data_structures/__pycache__/5-number_keys.cpython-312.pyc
python-more_data_structures/__pycache__/6-print_sorted_dictionary.cpython-312.pyc
python-more_data_structures/__pycache__/7-update_dictionary.cpython-312.pyc
python-more_data_structures/__pycache__/8-simple_delete.cpython-312.pyc
python-more_data_structures/__pycache__/9-multiply_by_2.cpython-312.pyc
python-more_data_structures/__pycache__/10-best_score.cpython-312.pyc
python-more_data_structures/__pycache__/11-multiply_list_map.cpython-312.pyc
python-more_data_structures/__pycache__/12-roman_to_int.cpython-312.pyc
python-more_data_structures/main.py
python-more_data_structures/main.py
python-classes/test.py
python-classes/__pycache__/2-square.cpython-312.pyc
python-classes/__pycache__/3-square.cpython-312.pyc
python-classes/__pycache__/4-square.cpython-312.pyc
python-more_classes/main.py
python-more_classes/__pycache__/0-rectangle.cpython-312.pyc
python-more_classes/__pycache__/1-rectangle.cpython-312.pyc
python-more_classes/__pycache__/2-rectangle.cpython-312.pyc
